* {
    position: fixed;
    background-color: white;
}
body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}
div {
    width: 10vmin;
    height: 10vmin;
    background-color: rgba(0,0,0,0.5);
    background-size: 100% 100%;
}

#score {
    left: 1vw;
    top: 1vh;
    font-family: 'Lobster', cursive;
    font-size: 5vmin;
}

.punishment {
    font-family: 'Lobster', cursive;
    font-size: 3vmin;
}

.goal {
    font-family: 'Lobster', cursive;
    font-size: 2vmin;
}